docs/dev/n8n-auto-sim.json
{
  "name": "Auto Sim - New Doctor Daily Messages",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "id": "schedule",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 200]
    },
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8000/api/admin/doctors"
      },
      "id": "listDoctors",
      "name": "List Doctors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter: created in last 24h, skip doctors already seeded by this workflow.\n// staticData persists across runs (fast-path dedup). Backend register\n// endpoint is idempotent by name (secondary dedup if staticData is lost).\nconst now = new Date();\nconst staticData = $getWorkflowStaticData('global');\nconst seeded = staticData.seededDoctors || [];\nconst items = $input.first().json.items || [];\n\nconst newDoctors = items.filter(d => {\n  const created = new Date(d.created_at);\n  const hoursAgo = (now - created) / (1000 * 60 * 60);\n  return hoursAgo < 24 && !seeded.includes(d.doctor_id);\n});\n\n// Mark these doctors as seeded so next run skips them\nnewDoctors.forEach(d => seeded.push(d.doctor_id));\nstaticData.seededDoctors = seeded;\n\nif (newDoctors.length === 0) return [];\nreturn newDoctors.map(d => ({ json: d }));"
      },
      "id": "filterNew",
      "name": "New Doctors (24h)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/patient/register",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ doctor_id: $json.doctor_id, name: '模拟患者', gender: 'male', year_of_birth: 1956, phone: '13800000000' }) }}"
      },
      "id": "registerPatient",
      "name": "Register Patient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/patient/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.token }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\":\"医生您好，我是李明华，68岁。昨天做完开颅手术，今天头痛比较明显VAS 6分，伤口周围有点胀但没渗液，体温37.1度。请问这些正常吗？\"}"
      },
      "id": "day1msg1",
      "name": "Day1 AM - Post-op Pain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "time": 5,
        "unit": "hours"
      },
      "id": "wait1",
      "name": "Wait 5h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/patient/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $('Register Patient').item.json.token }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\":\"医生，开浦兰吃了第一次，感觉特别困，下午一直在睡。这是正常的吗？需要继续吃吗？\"}"
      },
      "id": "day1msg2",
      "name": "Day1 PM - Med Side Effect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "time": 14,
        "unit": "hours"
      },
      "id": "wait2",
      "name": "Wait 14h (overnight)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/patient/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $('Register Patient').item.json.token }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\":\"医生早上好，术后第二天了。头痛好一点VAS 4分，但开浦兰还是让我很困。地塞米松在吃4mg每8小时，什么时候可以开始减量？\"}"
      },
      "id": "day2msg1",
      "name": "Day2 AM - Recovery Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "time": 6,
        "unit": "hours"
      },
      "id": "wait3",
      "name": "Wait 6h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/patient/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $('Register Patient').item.json.token }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\":\"医生，下午的时候左手突然没力气拿不住筷子，大概持续了几分钟就好了。需要紧急处理吗？\"}"
      },
      "id": "day2msg2",
      "name": "Day2 PM - Emergency Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "time": 15,
        "unit": "hours"
      },
      "id": "wait4",
      "name": "Wait 15h (overnight)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/patient/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $('Register Patient').item.json.token }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\":\"医生，术后第三天。头不太痛了VAS 2分，左手力气也恢复了。开浦兰还是困但比前两天好一些。伤口愈合看起来不错，什么时候可以出院？\"}"
      },
      "id": "day3msg1",
      "name": "Day3 AM - Ready for Discharge?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 300]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{"node": "List Doctors", "type": "main", "index": 0}]]
    },
    "Manual Test": {
      "main": [[{"node": "List Doctors", "type": "main", "index": 0}]]
    },
    "List Doctors": {
      "main": [[{"node": "New Doctors (24h)", "type": "main", "index": 0}]]
    },
    "New Doctors (24h)": {
      "main": [[{"node": "Register Patient", "type": "main", "index": 0}]]
    },
    "Register Patient": {
      "main": [[{"node": "Day1 AM - Post-op Pain", "type": "main", "index": 0}]]
    },
    "Day1 AM - Post-op Pain": {
      "main": [[{"node": "Wait 5h", "type": "main", "index": 0}]]
    },
    "Wait 5h": {
      "main": [[{"node": "Day1 PM - Med Side Effect", "type": "main", "index": 0}]]
    },
    "Day1 PM - Med Side Effect": {
      "main": [[{"node": "Wait 14h (overnight)", "type": "main", "index": 0}]]
    },
    "Wait 14h (overnight)": {
      "main": [[{"node": "Day2 AM - Recovery Update", "type": "main", "index": 0}]]
    },
    "Day2 AM - Recovery Update": {
      "main": [[{"node": "Wait 6h", "type": "main", "index": 0}]]
    },
    "Wait 6h": {
      "main": [[{"node": "Day2 PM - Emergency Signal", "type": "main", "index": 0}]]
    },
    "Day2 PM - Emergency Signal": {
      "main": [[{"node": "Wait 15h (overnight)", "type": "main", "index": 0}]]
    },
    "Wait 15h (overnight)": {
      "main": [[{"node": "Day3 AM - Ready for Discharge?", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
